@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}